<g>
  <a title="<%= Visuals::ProductPart.find(1).part.description %>" alt="outside-trim" >
    <circle cx="28" cy="60" r="15"></circle>
  </a>
  <a title="<%= Visuals::ProductPart.find(2).part.description %>" alt="inside-pocket" >
    <circle cx="53" cy="350" r="15"></circle>
  </a>
  <a title="<%= Visuals::ProductPart.find(3).part.description %>" alt="wallet-back" >
    <circle cx="90" cy="345" r="15"></circle>
  </a>
</g>