<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->

  <head data-hook="inside_head">
    <%= render :partial => 'spree/shared/head' %>
  </head>

  <body class="<%= body_class %> " id="<%= @body_id || 'default' %>" data-hook="body">

  <% # MOVED TOGGLE TO SIDEBAR PARTIAL # %>
  <%= render :partial => 'spree/shared/sidebar' if content_for? :sidebar %>

      <div id="wrapper" class="container-fluid" data-hook>

        <div id="top-section">
        <%= render :partial => 'spree/shared/header' %>
        <%= render :partial => "spree/shared/banner" if params[:controller] == "spree/home" if params[:action] == "index" %>
        <%= render :partial => 'spree/shared/page_nav' %>
        </div>

        <%= render :partial => "spree/shared/home_panels"  if params[:controller] == "spree/home" if params[:action] == "index" %>

        <div id="main-container" class="container-fluid">
        <%# breadcrumbs(@taxon) %>

          <div class="row">
            <div id="content" <%= !content_for?(:sidebar) %> data-hook>


                  <%= flash_messages %>


                <%= yield %>

                </div>

              </div>
            </div>
          </div>

            <%= yield :templates %>


      <%= render :partial => 'spree/shared/footer' %>

    <%= render :partial => 'spree/shared/google_analytics' %>
  
  </body>



<script>
  $(document).ready(function(){
    $("#header").sticky({topSpacing:0});
    $("#page_nav").sticky({topSpacing:60});
  });
</script>

<script>
  //SIDEBAR SHOW-HIDE
  $('.sidebar_switch').on('click', function () {
    $('body').toggleClass('sidebar_toggle');
  });
</script>

<script>
  $(document).ready(function(){
    $('input').iCheck({
      checkboxClass: 'icheckbox_minimal-blue',
      radioClass: 'iradio_minimal-blue'
    });
  });
</script>

</html>

