<!DOCTYPE html>
<html>

<body>

<% link_to 'Products', visuals_products_path %>
<% link_to 'Product-Parts', visuals_product_product_parts_path %>
<% link_to 'Materials', visuals_materials_path %>

<%= yield %>

</body>

</html>


