<!DOCTYPE html>
<html>
<head>
  <title>MeerS1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% link_to 'Products', visuals_products_path %>
<% link_to 'Product-Parts', visuals_product_product_parts_path %>
<% link_to 'Materials', visuals_materials_path %>

<%= yield %>

</body>

</html>


