<% content_for :sidebar do %>
    <div data-hook="homepage_sidebar_navigation">
      <% if "spree/products" == params[:controller] && @taxon %>
          <%= render :partial => 'spree/shared/filters' %>
      <% else %>
          <%= render :partial => 'spree/shared/taxonomies' %>
      <% end %>
    </div>
<% end %>


<% @body_id = 'cart' %>
<div class="">
<div id="cart-container" class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2" data-hook="cart_container">
  <h1><%= Spree.t(:cart) %></h1>

  <% if @order.line_items.empty? %>

    <div data-hook="empty_cart" class="row">
      <p><%= Spree.t(:your_cart_is_empty) %></p>
      <p><%= link_to Spree.t(:continue_shopping), products_path, :class => 'button continue' %></p>
    </div>

  <% else %>

    <div data-hook="outside_cart_form">
      <%= form_for @order, :url => update_cart_path, :html => {:id => 'update-cart'} do |order_form| %>
        <div data-hook="inside_cart_form">

          <div data-hook="cart_items">
            <%= render :partial => 'form', :locals => { :order_form => order_form } %>
          </div>

          <div data-hook="cart_buttons" class="cart_buttons">
            <div>
            <%= order_form.text_field :coupon_code, :size => 10, :placeholder => Spree.t(:coupon_code) %>
            </div>

            <div class="cart_buttons">
            <%= button_tag :class => 'primary', :id => 'update-button' do %>
              <%= Spree.t(:update) %>
            <% end %>
            </div>

            <div class="cart_buttons">
            <%= button_tag :class => 'button checkout primary', :id => 'checkout-link', :name => 'checkout' do %>
              <%= Spree.t(:checkout) %>
            </div>

            <% end %>
          </div>

        </div>
      <% end %>
    </div>

    <div id="shopping_options" data-hook>
      <%= form_tag empty_cart_path, :method => :put do %>
        <div id="continue_shopping_link" class="cart_buttons" data-hook>

        <%= link_to Spree.t(:continue_shopping), products_path, :class => 'continue button gray' %>
        </div>
      <% end %>
    </div>

  <% end %>
</div>
</div>