<% content_for :sidebar do %>
    <div data-hook="homepage_sidebar_navigation">
      <% if "spree/products" == params[:controller] && @taxon %>
          <%= render :partial => 'spree/shared/filters' %>
      <% else %>
          <%= render :partial => 'spree/shared/taxonomies' %>
      <% end %>
    </div>
<% end %>

<div id="checkout" class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2" data-hook>
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>

  <div class="" data-hook="checkout_header">
    <h1 class="" data-hook="checkout_title"><%= Spree.t(:checkout) %></h1>
    <div class="" data-hook="checkout_progress"><%= checkout_progress %></div>
  </div>

  <div class="" data-hook="checkout_content">
    <div class="columns <%= if @order.state != 'confirm' then 'alpha' else 'alpha omega' end %>" data-hook="checkout_form_wrapper">
      <%= form_for @order, :url => update_checkout_path(@order.state), :html => { :id => "checkout_form_#{@order.state}" } do |form| %>
        <% if @order.state == 'address' || !@order.email? %>
          <p class="field" style='clear: both'>
            <%= form.label :email %><br />
            <%= form.text_field :email %>
          </p>
        <% end %>
        <%= render @order.state, :form => form %>
      <% end %>
    </div>


    <div class="row">
    <% if @order.state != 'confirm' %>
      <div id="checkout-summary" data-hook="checkout_summary_box" class="columns omega col-lg-offset-4 col-lg-4">
        <%= render :partial => 'summary', :locals => { :order => @order } %>
      </div>
    <% end %>
    </div>


  </div>
</div>

<script>
Spree.current_order_id = "<%= @order.number %>"
Spree.current_order_token = "<%= @order.guest_token %>"
</script>

<% if I18n.locale != :en %>
  <%= javascript_include_tag 'jquery.validate/localization/messages_' + I18n.locale.to_s.downcase.gsub('-', '') %>
<% end %>
