<h4><%= hs.product_part.part.name %></h4>

<div id="name"><%= hs.product_part.description %> </div>

<p>
  <span><strong>Material:</strong> <%= hs.product_part.material.name %></span>
  <span>|</span>
  <span><strong>Origin:</strong> <%= hs.product_part.location.country %> </span>
  <br><br>
  <%= hs.product_part.material.description %></p>