<style>
  circle {
    opacity: 0.4;
    fill: #fff;
    stroke: #000;
    stroke-width: 1px;
  }
  .current {
    stroke: #fff;
    fill: #000;
    opacity: 1;
  }

  .line{
    transform-origin: 0 0;
    height: 3px; /* Line width of 3 */
    background: #767676; /* Black fill */
  }
  #infobox {
    height: 50px;
    width: 100%;
    height: 250px;
    margin: 80px auto 0 auto;
  }
    #infobox svg {
      display: block;
      margin: auto;
      display: none;
    }

</style>

<% if defined?(image) && image %>
    <%= image_tag image.attachment.url(:product), itemprop: "image" %>
<% else %>

    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 240 240"  preserveAspectRatio="xMinYMin meet">

      <image width="240" height="160" xlink:href="<%= @product.display_image.attachment(:product) %>"> </image>


     <%= @product.visuals_product_perspectives.each do |perspect| %>

          <g id="hotspot<%= perspect.position %>">

            <%= perspect.hotspots.each do |hs| %>

                <a class="selector" title="

                <div><h4><%= hs.product_part.part.name %></h4></div>
                <section><%= hs.product_part.description %> </section>
                <div>
                <p>
                  <span><strong>Material:</strong> <%= hs.product_part.material.name %></span>
                  <span>|</span>
                  <span><strong>Origin:</strong> <%= hs.product_part.location.country %> </span>
                </p>
                </div>
                <section>
                <span><%= hs.product_part.material.description %></span>
                </section>
                ">

                  <circle class="" cx="<%= hs.offset_x %>" cy="<%= hs.offset_y %>" r="<%= hs.radius %>"></circle>
                </a>

            <%end%>

          </g>

      <% end %>


    </svg>

<% end %>

<!--


<%= render partial: "visuals/products/product_image_hotspots/#{@product.partial_name}/svg" %>


<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 240 240"  preserveAspectRatio="xMinYMin meet">

  <image width="240" height="240" xlink:href="<%= @product.display_image.attachment(:product) %>"> </image>

</svg>-->

<script type="text/javascript">

  $.fn.bootstrapSwitch.defaults.size = 'mini';
  $.fn.bootstrapSwitch.defaults.onColor = 'black';

  $("[name='toggler-checkbox']").bootstrapSwitch();

  $("[name='toggler-checkbox']").on('switchChange.bootstrapSwitch', function(event, state) {
    var thumbA;

    thumbA = $('#product-images ul.thumbnails li');

    console.log(" console logs thumbA as" + thumbA);

    var toggleId;
    if (($('#main-image')).hasClass('toggle')) {
      ($('#main-image')).removeClass('toggle');
    } else {
      ($('#main-image')).addClass('toggle');
    }
    toggleId = ($('.selected')).attr('id');
    ($(thumbA)).toggleClass("off");
    ($('#hotspot' + toggleId)).toggle();
    return console.log('#hotspot' + toggleId);
  });





  function createLine(x1, y1, x2, y2) {
    var length = Math.sqrt((x1-x2)*(x1-x2) + (y1-y2)*(y1-y2));
    var angle = Math.atan2(y2 - y1, x2 - x1) * 180 / Math.PI;
    var transform = 'rotate('+angle+'deg)';
    var top;
    var left;

    if (y2 < y1) {
      top = y2;
      left = x1;
    }
    else {
      top = y1;
      left = x1;
    }

    var line = $('<div>')
        .appendTo('#main-image')
        .addClass('line')
        .css({
          'position': 'absolute',
          'transform': transform
        })
        .width(length)
        .offset({left: left, top: top});

    return line;
  }

  $(document).ready(function() {

    $('.selector').qtip({
      position: {
        my: 'top left',  // Position my top left...
        at: 'top left',
        target: $('#infobox')
      },
      show: {
        event: 'mouseenter',
        modal: {
          on: true,
          effect: function (state) {
            /*
             "state" determines if its hiding/showing
             "this" refers to the overlay
             0.4 and 0 are the show and hide opacities respectively.
             */
            $(this).fadeTo(500, state ? 0.5 : 0, function () {
              if (!state) {
                $(this).hide();
              }
            });
          },
        },
        solo: true,
        effect: function(offset) {
          $(this).show("slide", { direction: "left" }, 500); // "this" refers to the tooltip
        }
      },
      style: {
        width: '400px',
        classes: 'qtip-bootstrap',
        tip: {
          corner: false
        }
      },

      hide: {
        event: 'mouseleave',
        leave: false,

      },
      events: {
        show: function(event, api) {
          document.body.style.cursor = 'pointer';
        },

        hide: function(event, api) {
          document.body.style.cursor = 'default';
        }
      }
    });

    $('.selector').mouseover(function (event) {
      $(this).find('circle').attr("class", "hotspot current");
      $(this).find('circle').attr("r", "7");

      var x1 = event.target.getBoundingClientRect().x + 10 ,
          y1 = event.target.getBoundingClientRect().y + 10 ;

      var x0 = 100,
          y0 = 300;

      var changeX = x1 - x0 ,
          changeY = y0 - y1 ,
          slope = changeX / changeY;

      console.log("x1 " + x1);
      console.log("y1 " + y1);
      console.log("slope " + slope);

      var y2 = (slope * x0);
      var x2 = (slope * y0);

      /*
      createLine(x0,y0,x1,y1);


      var newLine = document.createElementNS('http://www.w3.org/2000/svg','line');
      newLine.setAttribute('class','line');
      newLine.setAttribute('x1','100');
      newLine.setAttribute('y1','100');
      newLine.setAttribute('x2',event.target.getBoundingClientRect().x);
      newLine.setAttribute('y2',event.target.getBoundingClientRect().y);
      $(this).parent().append(newLine);

*/

    });

    $('.selector').mouseout(function () {
      $(this).find('circle').attr("class", "hotspot");
      $(this).find('circle').attr("r", "5");

       $('.line').fadeOut(300, function(){ $(this).remove(); });
    });



  });
</script>
