<% unless @product_properties.empty? %>  
  <h6 class="product-section-title"><%= Spree.t('properties')%></h6>
  <div id="product-properties" data-hook>

      <% @product_properties.each do |product_property| %>
        <% css_class = cycle('even', 'odd', :name => "properties") %>
        <ol>
          <li><strong><%= product_property.property.presentation %></strong></li>
          <li><%= product_property.value %></li>
        </ol>
      <% end %>
      <% reset_cycle('properties') %>
</div>
<% end %>
