<% content_for :sidebar do %>
    <div data-hook="homepage_sidebar_navigation">
      <% if "spree/products" == params[:controller] && @taxon %>
          <%= render :partial => 'spree/shared/filters' %>
      <% else %>
          <%= render :partial => 'spree/shared/taxonomies' %>
      <% end %>
    </div>
<% end %>

<% cache [I18n.locale, current_currency, @product] do %>


  <div id="product_show" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" data-hook="product_show" itemscope itemtype="http://schema.org/Product">
    <% @body_id = 'product-details' %>
    <div class="row">

    <div id="product_left" class="col-md-3 col-lg-3" data-hook="product_left_part">
      <a id="toggler"><input type="checkbox" name="toggler-checkbox" checked> </a> <span> > Material visualization</span>

      <div id="infobox" data-hook="product_left_part_wrap">

        <svg width="100%" height="100%" viewBox="0 0 800 800" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.41421;">
          <g transform="matrix(2.75,0,0,3.6,-510,-320)">
            <path d="M240,100L200,100L200,300L240,300" style="fill:none;stroke-width:1.25px;stroke:black;"/>
          </g>
          <g transform="matrix(-2.75,-3.36778e-16,4.40873e-16,-3.6,1310,1120)">
            <path d="M240,100L200,100L200,300L240,300" style="fill:none;stroke-width:1.25px;stroke:black;"/>
          </g>
        </svg>


      </div>

    </div>

    <div id="product_center" class="col-md-4 col-lg-5" data-hook="product_center_part">
      <div class="" data-hook="product_center_part_wrap">

        <div id="product-images" data-hook="product_images">

          <div id="main-image" class="original" data-hook>
            <%= render :partial => 'image' %>
          </div>

          <div id="thumbnails" data-hook>
            <%= render :partial => 'thumbnails' %>
          </div>
        </div>

        <div data-hook="product_properties">
          <%= render :partial => 'properties' %>
        </div>

        <div data-hook="promotions">
          <%= render :partial => 'promotions' %>
        </div>

      </div>
    </div>

    <div id="product_right" class="col-md-5 col-lg-4" data-hook="product_right_part">
      <div class="" data-hook="product_right_part_wrap">

        <div id="product-description" data-hook="product_description">

          <h1 class="product-title" itemprop="name"><%= @product.name %></h1>

          <div itemprop="description" data-hook="description">
            <%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
          </div>

          <div id="cart-form" data-hook="cart_form">
            <%= render :partial => 'cart_form' %>
          </div>

        </div>

        <!--<%= render :partial => 'taxons' %>-->

      </div>
    </div>
    </div>
    </div>

<% end %>