<p id="notice"><%= notice %></p>

<h1>Listing Product Colors</h1>


<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_colors.each do |product_color| %>
      <tr>
        <td><%= link_to 'Show', product_color %></td>
        <td><%= link_to 'Edit', edit_product_color_path(product_color) %></td>
        <td><%= link_to 'Destroy', product_color, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product color', new_product_color_path %>
