<h1>New Product Color</h1>

    <%= link_to 'Back', product_colors_path %>

    <%= simple_form_for @product_colors do |f| %>
        <%= f.association :product %>
        <%= f.association :color %>
        <%= f.button :submit %>
    <% end %>
