<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @product_color.id %>
</p>
<p>
  <strong>Color_ID:</strong>
  <%= @product_color.color_id %>
</p>
<p>
  <strong>Product_ID:</strong>
  <%= @product_color.product_id %>
</p>


<%= link_to 'Edit', edit_product_product_color_path(@product, @product_color) %> |
<%= link_to 'Back', product_product_colors_path %>
