<br>
<div id="product-breakdown">
    <% @products.each do |product| %>
    <li>
        <%= link_to product.name, product %>
        <div class="part"></div>
        <% @product.product_parts do |part| %>
        <div class="part-frame">
            <%= part.title %>
        </div>
        <% end %>
    </li>
    <% end %>
</div>