<h1>PRODUCTS</h1>
<br>
<div class="row">
  <% @products.each do |product| %>
  <div class="col-xs-6 col-sm-4">
    <p class="text-center"> <%= link_to product.name, visuals_product_path(product) %> </p>
    <p class="text-center"> <%= product.id %> </p>
  </div>
  <% end %>
</div>


<div class="row">
  <% @products.each do |product| %>
  <%= link_to visuals_product_path(product) do %>
    <div class="col-xs-6 col-sm-4">
      <p class="text-center"><% product.name %> </p>
      <p class="text-center"><% product.id %> </p>
    </div>
  <% end %>
  <% end %>
</div>