<% content_for :head do %>
    <title><%= @product.name %></title>
<% end %>

<h1><%= @product.name %></h1>

<%= render partial: "products/product_image_hotspots/#{@product.partial_name}", locals: {foo:'bar'} %>

<p>Parts:</p>
<ul>
  <% @product.parts.each do |part| %>
      <li><%= link_to part.material.name, material_path(part.material_id) %> <%= link_to part.name, part_path(part) %></li>
      <ul>
        <li><%= part.description %></li>
      </ul>
  <% end %>

</ul>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Delete', product_path(@product),
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', products_path %>