<% content_for :head do %>
    <title><%= @product.name %></title>
<% end %>
<h1><%= @product.name %></h1>
<h3>Parts</h3>
<div class="row">
<ul>
  <% @product_parts.each do |x| %>
      <li><%= x.material.name %>
          <%= x.part.name %></li>
      <ul>
        <li><%= x.description %></li>
      </ul>
  <% end %>
</ul>
</div>

<h3>Colors</h3>
<div class="row">

<ul>
  <% @product_colors.each do |x| %>
      <li><%= x.color.name %> </li>
  <% end %>
</ul>
</div>


<%= render partial: "visuals/products/product_image_hotspots/#{@product.partial_name}/svg", locals: {foo:'bar'} %>