
<table>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>created_at</th>
    <th>updated_at</th>
    <th>action</th>
  </tr>

  <% @materials.each do |material| %>
    <tr>
      <td><%= material.id %></td>
      <td><%= material.name %></td>
      <td><%= material.created_at %></td>
      <td><%= material.updated_at %></td>
      <td><%= link_to 'Show', visuals_material_path(material) %></td>
  </tr>
  <% end %>
</table>
<br>
 <%= link_to 'New material', new_visuals_material_path %>