<h1>New material</h1>

<%= form_for @material do |f| %>

    <% if @material.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@material.errors.count, "error") %> prohibited
            this part from being saved:
          </h2>
          <ul>
            <% @material.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.submit %>
    </p>

<% end %>
 
 
<%= link_to 'Back', visuals_materials_path %>