<p>
  <strong>Material:</strong>
  <%= @material.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @material.description %>
</p>

<%= link_to 'Edit', edit_visuals_material_path(@material) %> |
<%= link_to 'Delete', visuals_material_path(@material),
       method: :delete,
       data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', visuals_materials_path %>