<h1>New article</h1>
 
<%= form_for @part do |f| %>
 
  <% if @part.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@part.errors.count, "error") %> prohibited
        this part from being saved:
      </h2>
      <ul>
        <% @part.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', parts_path %>