<table>
  <tr>
    <th>Parts</th>
    <th>action</th>
  </tr>
 
  <% @parts.each do |part| %>
    <tr>
      <td><%= part.name %></td>
      <td><%= link_to 'Show', visuals_part_path(part) %></td>
  </tr>
  <% end %>
</table>
<br>
 <%= link_to 'New part', new_visuals_part_path(@part) %>