<h1>New part</h1>
 
<%= form_for @part do |f| %>
 
  <% if @part.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@part.errors.count, "error") %> prohibited
        this part from being saved:
      </h2>
      <ul>
        <% @part.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= simple_form_for @part do |f| %>
        <p>
          <%= f.label :name %><br>
          <%= f.text_field :name %>
        </p>
        <p>
          <%= f.label :description %><br>
          <%= f.text_field :description %>
        </p>
        <%= f.button :submit %>
    <% end %>
 
<% end %>
 
 
<%= link_to 'Back', visuals_parts_path %>