<p>
  <strong>Name:</strong>
  <%= @part.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @part.description %>
</p>

<%= link_to 'Edit', edit_visuals_part_path(@part) %> |
<%= link_to 'Delete', visuals_part_path(@part),
       method: :delete,
       data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', visuals_parts_path %>