<% content_for :sidebar do %>
    <div data-hook="homepage_sidebar_navigation">
      <% if "spree/products" == params[:controller] && @taxon %>
          <%= render :partial => 'spree/shared/filters' %>
      <% else %>
          <%= render :partial => 'spree/shared/taxonomies' %>
      <% end %>
    </div>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>

<div id="edit-account" class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
  <h1><%= Spree.t(:editing_user) %></h1>
  
  <div data-hook="account_edit">
    <%= form_for Spree::User.new, :as => @user, :url => spree.user_path(@user), :method => :put do |f| %>
      <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
      <p>
        <%= f.submit Spree.t(:update), :class => 'button primary' %>
      </p>
    <% end %>
  </div>
</div>
