<footer id="footer" class="" data-hook>

  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-offset-2 col-lg-2 ">

  </div>

  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 " style="text-align: center;">
    <h5>meer clothing</h5>
    <ul>
      <li> Berlin // New York // Lisbon</li>
      <li>Postfach 35 01 62, 10210 Berlin</li>
    </ul>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 " style="text-align: center;">

  </div>

</footer>
