<header id="header" class="row" data-hook>

    <% # TOGGLE SWITCH # %>
    <div id="sidebar_fa_switch" class="sidebar-button">

      <a href="#" class="sidebar_switch">
        <div id="side_nav_logo">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="31px" height="22px" viewBox="0 0 31 19" enable-background="new 0 0 31 19" xml:space="preserve" class="icon">
        <rect x="0" y="8" fill="#333333" width="30" height="4"></rect>
        <rect x="0" y="0" fill="#333333" width="30" height="4"></rect>
        <rect x="0" y="16" fill="#333333" width="30" height="4"></rect>
        </svg>
        </div>
        <div id="shop_nav_tag">
        <span>Shop</span>
        </div>
      </a>


    </div>

    <div id="header-logo">
      <figure id="logo" data-hook>
        <a href="/">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             height="55px" viewBox="0 0 500 250" style="enable-background:new 0 0 500 250;" xml:space="preserve">
          <path d="M416.7,45.8c-18.2-16.3-41.3-24.5-69.3-24.5c-31.6,0-57.3,9.8-76.9,29.5c-8.7,8.7-15.5,18.6-20.4,29.7
	c-4.9-11.1-11.7-21-20.4-29.7c-19.7-19.7-45.3-29.5-76.9-29.5c-28,0-51.1,8.2-69.3,24.5C65.1,62.1,56,82.8,56,107.9
	c0,9.8,0.7,15.9,2.2,18.1c1.5,2.2,5.8,3.3,13,3.3h142.3c3.9,0,6.4,0.5,7.6,1.4c1.2,0.9,1.8,2.4,1.8,4.5c0,19.4-6.7,35.6-20.1,48.5
	c-13.4,12.9-30.1,19.4-50.1,19.4c-13.1,0-25.1-3.1-36-9.3c-10.9-6.2-18-14.1-21.2-23.7l-4-11.3c-2.1-6.2-7-9.3-14.8-9.3
	c-11,0-16.6,4.9-16.6,14.8c0,16.8,9.8,31.8,29.5,44.8c19.7,13.1,42.1,19.6,67.1,19.6c31.3,0,56.2-9.1,74.7-27.4
	c7.9-7.8,14.1-16.7,18.6-26.8c4.5,10.1,10.7,19,18.6,26.8c18.5,18.2,43.4,27.4,74.7,27.4c25.1,0,47.4-6.5,67.1-19.6
	c19.7-13.1,29.5-28,29.5-44.8c0-9.8-5.5-14.8-16.6-14.8c-7.8,0-12.7,3.1-14.8,9.3l-4,11.3c-3.3,9.6-10.4,17.5-21.2,23.7
	c-10.9,6.2-22.9,9.3-36,9.3c-20,0-36.7-6.5-50.1-19.4c-13.4-12.9-20.1-29.1-20.1-48.5c0-2.1,0.6-3.6,1.8-4.5
	c1.2-0.9,3.7-1.4,7.6-1.4h142.3c7.2,0,11.5-1.1,13-3.3c1.5-2.2,2.2-8.2,2.2-18.1C444,82.8,434.9,62.1,416.7,45.8z M208.6,103.3
	H101.7c-6.3,0-9.4-1.8-9.4-5.4c0-13.7,6-25.6,17.9-35.7C122.1,52,136.1,47,152.2,47c16.7,0,31.9,5.2,45.6,15.7
	c13.7,10.5,20.6,22.2,20.6,35.1C218.4,101.4,215.1,103.3,208.6,103.3z M398.3,103.3H291.4c-6.6,0-9.8-1.8-9.8-5.4
	c0-12.9,6.9-24.7,20.6-35.1C315.9,52.2,331.1,47,347.8,47c16.1,0,30.1,5,42.1,15.1c11.9,10.1,17.9,22,17.9,35.7
	C407.7,101.4,404.6,103.3,398.3,103.3z"/>
        </svg>
        </a>
      </figure>
    </div>

    <%= render :partial => 'spree/shared/nav_bar' %>

  </header>
