<div class="banner">
  <%= image_tag("secret_garden.png") %>
</div>
<br>
<div style="height: 450px;background: #000000;" class="banner">
</div>
<br>
<div style="height: 450px;background: #767676;">
</div>
<br>
<div style="height: 450px;background: #000000;">
</div>
<br>
<div style="height: 450px;background: #767676;">
</div>
<br>
<div style="height: 450px;background: #000000;">
</div>

