<ul id="main-nav-bar" class="inline" data-hook>
    <% #<li id="home-link" data-hook> <%= link_to Spree.t(:home), spree.root_path </li> %>
    <a href="/cart"><li id="link-to-cart" data-hook>
      <noscript>
        <%= Spree.t(:cart) %>
      </noscript>
      &nbsp;
    </li></a>
    <div>
    <script>Spree.fetch_cart('<%= j cart_link_url %>')</script>
    </div>
</ul>
