<div id="service">
  <nav id="cart_login" class="top-nav-bar">

    <ul id="login" class="inline" data-hook>

      <li id="search-bar" data-hook>
        <% # render :partial => 'spree/shared/search' %>
      </li>
    </ul>

    <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>

  </nav>
</div>