<div id="page_nav" class="container-fluid">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-collapse">
    <ul id="tabs" class="inline nav navbar-nav">
      <li><a href="/about">About</a></li>
      <li><a href="/materials">Materials</a></li>
      <li><a href="/products">Collection</a></li>
      <li><a href="/explore">Explore</a></li>
    </ul>
    </div>
  </nav>
  </div>