<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxonomies' %>
  </div>
<% end %>



<div id="about_info">


  <div class="row">

      <div id="about-top" class="col-md-12">
        <h1>the voyage</h1>
      </div>

        <div id="about-left" class="col-xs-12 col-sm-12 col-md-6 col-md-6">
          <p>Quod ii legunt saepius claritas est etiam processus.</p>
          <p>Dynamicus qui sequitur. Velit esse molestie consequat vel illum dolore eu feugiat nulla facilisis at!</p>
          <p>Habent claritatem insitam, est usus legentis in iis qui facit eorum claritatem Investigationes demonstraverunt lectores legere?</p>
          <p>Congue nihil imperdiet doming id quod mazim placerat facer possim assum typi.</p>
          <p>Veniam quis nostrud, exerci tation ullamcorper suscipit lobortis. Feugait nulla facilisi nam liber; tempor cum soluta nobis. Typi qui nunc nobis.</p>
          <p>cessus dynamicus qui sequitur. Minim nisl ut aliquip ex ea commodo consequat duis autem vel eum iriure.</p>
          <p>est etiam processus dynamicus qui sequitur. Min</p>
          <p>Minim nisl ut aliquip</p>
          <p>Minim.</p>
        </div>

        <div id="about-right" class="col-xs-12 col-sm-12 col-md-6 col-md-6">
          <%= image_tag("pigment_trials.jpg") %>
        </div>
        <div id="timeline_block" class="col-xs-12 col-sm-12 col-md-12 col-md-12">
          <%= image_tag("timeline.png") %>
        </div>

  </div>



  <div class="stack_blocks col-lg-6">

    <div class="row">

        <div class="col-md-4 outer_blocks block"></div>
        <div id="inner_block" class="col-md-4 block"></div>
        <div class="col-md-4 outer_blocks block"></div>

        <div id="passage_block" class="col-md-8"></div>

    </div>

  <div class="row">

    <div id="final_block" class="col-md-4 outer_blocks block"></div>

  </div>

  </div>



</div>