<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxonomies' %>
  </div>
<% end %>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-2 col-lg-8">
<h1>Coming Soon!</h1>
    </div>
  </div>