<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxonomies' %>
  </div>
<% end %>

  <div class="banner" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1>We only source exclusively sustainable, vegan and natural materials.<br> Explore our materials.<br> V</h1>
    <%= image_tag('secret_garden.png') %>
  </div>

<div id="material-info" class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-9">

  <% @materials.each do |material| %>
      <section id="<%= material.name %>" >

      <h1><%= material.name %></h1>

        <%= material.description %>

    <br><br>

<!--    <ul>Parts

    <% material.product_parts.each do |pp| %>

        <li><%= pp.part.name %></li>

    <% end %>
    </ul>-->
   </section>
<% end %>
</div>