<g>
  <% @product.visuals_product.product_parts.each do |pp| %>

      <% if pp.hotspot.present? %>

        <a title="<%= pp.part.name %>">
          <circle cx="<%= pp.hotspot.offset_x %>" cy="<%= pp.hotspot.offset_y %>" r="<%= pp.hotspot.radius %>"></circle>
        </a>

      <%end%>

  <% end %>
</g>