<style>
  circle {
    opacity: 0.4;
    fill: #975E71;
    stroke: #933453;
    stroke-width: 5px;
  }
</style>


<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1428 760" preserveAspectRatio="xMinYMin meet">

  <image width="1428" height="760" xlink:href="<%= asset_path "#{@product.partial_name}.gif" %>"></image>

  <%= render partial: "visuals/products/product_image_hotspots/#{@product.partial_name}/circles" %>

</svg>



<script type="text/javascript">

  $(document).ready(function() {
    $('a[title]').qtip({
      position: {
        my: 'top center',  // Position my top left...
        at: 'bottom center'
      },
      show: {
        event: 'click',
        solo: true
      },
      style: {
        classes: 'qtip-bootstrap qtip-shadow'
      },
      hide: {
        event: 'click'
      }
    });
  });
</script>

<script>
  $(document).ready(function() {

    $('circle').on('mouseover', function () {
      document.body.style.cursor = 'pointer';
    });
    $('circle').on('mouseout', function () {
      document.body.style.cursor = 'default';
    });
  });
</script>